V1/RaspberryPI_Sensor/node-red/node-red.txt
[{"id":"b596c151.da75e","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"6cb43b76.983f54","type":"http in","z":"b596c151.da75e","name":"","url":"/post_data","method":"get","upload":false,"swaggerDoc":"","x":387,"y":404,"wires":[["3bccabdc.e694d4","ddb7510f.31fa3","5584328d.96b32c"]]},{"id":"3bccabdc.e694d4","type":"debug","z":"b596c151.da75e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":520,"wires":[]},{"id":"5584328d.96b32c","type":"http response","z":"b596c151.da75e","name":"","statusCode":"","headers":{},"x":797,"y":373,"wires":[]},{"id":"ddb7510f.31fa3","type":"mqtt out","z":"b596c151.da75e","name":"","topic":"maruda","qos":"","retain":"","broker":"554cea8e.dc2814","x":809,"y":438,"wires":[]},{"id":"80510c6c.89cf1","type":"inject","z":"b596c151.da75e","name":"","topic":"","payload":"{\"text\":\"10count\",\"tipestamp\":\"2018-10-11 18:07\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":351,"y":467,"wires":[["ddb7510f.31fa3","3bccabdc.e694d4"]]},{"id":"554cea8e.dc2814","type":"mqtt-broker","z":"","name":"","broker":"10.2.192.201","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]